@page "/challenges"
@inject NavigationManager Navigation
@using RaptUx.Blazor.Components

<title>LearnUX - Challenges</title>

<div class="container">
    <ChallengesSectionComponent />
    <section id="rewards">
        <h1 class="title-font">Les cadeaux</h1>
        <p>Le meilleur design remportera une surpise</p>
    </section>
</div>

@code
{
  private void OnJoinChallenge()
  {
    Navigation.NavigateTo("/challenges/join", true);
  }
}
