@page "/challenges"
@inject NavigationManager Navigation
@using BreadcrumbItem = Volo.Abp.BlazoriseUI.BreadcrumbItem
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using RaptUx.Blazor.Components

@inject PageLayout PageLayout

@{
    PageLayout.BreadcrumbItems.Add(new BreadcrumbItem("Challenges", "/challenges")); 
}

<title>LearnUX - Challenges</title>

<div class="container">
    <ChallengesSectionComponent />
    <section id="rewards">
        <h1 class="title-font">Les cadeaux</h1>
        <p>Le meilleur design remportera une surpise</p>
    </section>
</div>

@code
{
  private void OnJoinChallenge()
  {
    Navigation.NavigateTo("/challenges/join", true);
  }
}
