@page "/challenges"
@inject NavigationManager Navigation
@using RaptUx.Blazor.Components

<title>LearnUX - Challenges</title>

<div class="container">
    <ChallengesSectionComponent />
</div>

@code
{
  private void OnJoinChallenge()
  {
    Navigation.NavigateTo("/challenges/join", true);
  }
}
