@namespace RaptUx.Blazor.Components

<section id="challenges">
    <h1 class="title-font">Les challenges</h1>
    <p>Découvrez notre sélection de challenges uniques et stimulants conçus pour mettre à l'épreuve vos compétences en UX, développer votre créativité et vous inspirer dans votre parcours d'apprentissage.</p>
            
    <div>
            
    </div>
</section>
