@namespace RaptUx.Blazor.Components

<section id="recommendations">
    <h1 class="title-font">N’hésitez pas à jeter un oeil sur nos recommandations</h1>
    <p>Venez découvrir les vidéos, les tutos qui vous permettrons de mener à bien votre projet</p>
</section>