@using Microsoft.Extensions.Configuration
@inject NavigationManager Navigation
@inject IConfiguration Configuration

<Card Class="light-purple-bg" Style="border-radius: 25px">
    <CardBody Style="padding: 0; display: flex">
        <div style="width: 55%; text-align: left; padding: 1.5em 5em">
            <h1 class="title-font">Vous aussi, venez rugir l’expérience utilsateur</h1>
            <CardText>Bienvenue sur learn UX, la plateforme d’apprentissage UX et UI adaptée à tout les niveaux. Alors rejoignez les autres challengers et montrer votre talent créatif à tous.</CardText>
            <Button Size="Size.Small" Class="yellow-bg" Style="position: absolute; bottom: 1.5em; border-radius: 20px; width: 9em" Clicked="OnRegister">S'inscrire</Button>
        </div>
        <div>
            <img src="svgs/illustration.svg" alt="illustration"/>
        </div>
    </CardBody>
</Card>

@code
{
    void OnRegister()
    {
        string authServerUrl = Configuration["AuthServer:Authority"] ?? "";
        
        Navigation.NavigateTo($"{authServerUrl.EnsureEndsWith('/')}Account/Register?returnUrl={Configuration["App:SelfUrl"]}");
    }
}
